
<div class="example-container">
<div class="example-container__component">
<div class="component__title"><h1> Hey! Here's where you create a component </h1></div>
<div class="component__body"> <p>Make sure you're using BEM! (see <a href="https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">Mind BEMding</a>)</p></div>
</div>
